<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>About</title>
</head>
<body class="about">
    <header>
        <nav>
            <ul>
             <li><a href="/home">HOME</a></li>
             <li><a href="/about">ABOUT</a></li>
             <li><a href="/music">MUSIC</a></li>
             <li><a href="/contact">CONTACT</a></li>
            </ul>
            <section>
                <i class="fab fa-twitter">f</i>
                <i class="fab fa-facebook-square">f</i>
                <i class="fab fa-spotify">f</i>
                <i class="fab fa-apple">f</i>f
                <i class="fab fa-amazon">f</i>
                <i class="fab fa-instagram-square">f</i>
            </section>
        </nav>
    </header>
    <h1>ABOUT EMILIA //</h1>
    <section>
        <article>
            <h3>"Seattle-based pop star makes her indie debut with a hauntingly beautiful album"</h3>
            <p>- John Tirckle, Music Today Post</p>
        </article>
        <article>
            <h3>"Emilia Cole is one of the scene's breakout stars"</h3>
            <p> - John Tirckle, Music Today Post</p>
        </article>
    </section>
</body>
</html>



