<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/css/style.css">
    <title>Music</title>
</head>
<body class="music">
    <header id="inicio">
        <nav class="menu">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/music">MUSIC</a></li>
                <li><a href="/contact">CONTACT</a></li>
            </ul>
        </nav>
        <nav class="redes">
            <a href=""> <i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-facebook-square"></i></a>
            <a href=""> <i class="fab fa-spotify"></i></a>
            <a href=""><i class="fab fa-apple"></i></a>
            <a href=""><i class="fab fa-amazon"></i></a>
            <a href=""> <i class="fab fa-instagram-square"></i></a>
        </nav>
    </header>
    <main>
        <h1>MUSIC</h1>
        <p>Direct links</p>
        <ul>
            <li><a href="#albun">Album</a></li>
            <li><a href="#organic">Video: Organic Love</a></li>
            <li><a href="#street">Video: Street Ligth</a></li>
        </ul>
        <article>
            <h2>ALBUM <br> TWIST IN MY REALTY</h2>
            <img src="/images/emilia-play-list.png" alt="">
            <ol>
                <li><i class="fas fa-play">Organic Love | 02:40</i></li>
                <li><i class="fas fa-play">Twist In My Reality | 02:10</i></li>
                <li><i class="fas fa-play">Street Light | 03:28</i></li>
                <li><i class="fas fa-play">Love Don’t Live Here Anymore (Cover) | 03:49</i></li>
            </ol>
            <a href="#inicio">Go Top</a>
            </article>
        </article>
        <article>
            <h2>VIDEO <br> ORGANIC LOVE</h2>
            <iframe src="https://player.vimeo.com/video/135166028" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>           <p>Directed by VINCE MALC & EMILIA COLE</p>
           <p>Edited and Filmed by NICOLAS TROY</p>
           <p>Produced by NIKI HEART,</p>
           <p>Wix Films LTD.</p>
        </article>
        <article>
            <h2>VIDEO <br> STREET LIGTH</h2>
            <iframe src="https://player.vimeo.com/video/134861419" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>           <p>Directed by VINCE MALC & EMILIA COLE</p>
           <p>Edited and Filmed by NICOLAS TROY</p>
           <p>Produced by NIKI HEART,</p>
           <p>Wix Films LTD.</p>
        </article>
    </main>
</body>
</html>

